*{
  margin: 0;
  padding: 0;
}

#body {
  font-family: sans-serif;
  box-sizing: border-box;
}

.bg{
  background: url('/bgimg.jpg') center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.aqua{
  background: url('/aqua.jpg') center / cover no-repeat;
}

h1{
    font-weight: 900;
    font-size: 3rem;
}

.h1{
color: transparent;
-webkit-text-stroke: 2px rgb(255, 255, 255);
}